<div class="h-100 container-fluid py-3 d-flex flex-column">
  <ng-container *ngIf="job != null">
    <div>
      <div class="d-flex align-items-center log-header">
        <strong>Build Job #{{job.id}}</strong>
        <cc-project-build-job-status-badge
          [job]="job"
          class="me-auto"
        ></cc-project-build-job-status-badge>

        <div class="btn-group">
          <button
            [disabled]="buildJobLog == null || buildJobLog.logStatus === 'MISSING'"
            (click)="scrollTop()"
            class="btn btn-dark"
          >
            <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
          </button>
          <button
            [disabled]="buildJobLog == null || buildJobLog.logStatus === 'MISSING'"
            (click)="scrollBottom()"
            class="btn btn-dark"
          >
            <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
          </button>
        </div>

        <button
          [disabled]="buildJobLog == null || buildJobLog.logStatus === 'MISSING'"
          (click)="downloadLog()"
          class="btn btn-dark ms-2"
        >
          <fa-icon [icon]="['fas', 'download']"></fa-icon>
        </button>
      </div>
      <hr>
    </div>

    <ng-container *ngIf="buildJobLog == null">
      <div class="alert alert-info">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        <span class="ms-2">Loading build logs...</span>
      </div>
    </ng-container>

    <ng-container *ngIf="buildJobLog != null">
      <ng-container *ngIf="this.logMessages.length === 0">
        <div class="alert alert-info">
          <span>There are no logs for this build job.</span>
        </div>
      </ng-container>

      <ng-container *ngIf="this.logMessages.length > 0">
        <div class="card d-flex flex-grow-1 overflow-auto">
          <div class="card-body d-flex h-100">
            <div #logWrapper class="log-wrapper flex-grow-1" (scroll)="handleScrollOnLogWrapper($event)">
              <div class="d-flex flex-row log-line" *ngFor="let line of logMessages; let i = index; trackBy: trackByIndex">
                <span class="log-line-number user-select-none">{{i+1}}</span>
                <div class="log-line-content">{{line}}</div>
              </div>
              <div #logProgressIndicator *ngIf="job.status == 'BUILDING'" class="d-flex align-items-center mt-3">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                <span class="ms-2">Build job is in progress...</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
