<div class="container">
  <div class="mx-auto d-flex flex-column gap-3 mt-3" style="max-width: 340px;">
    <cc-logo class="d-block my-3" />
    <div class="card shadow-sm">
      <div class="card-body">
        <form (ngSubmit)="register()" [formGroup]="registerForm" class="d-flex flex-column gap-3 mb-3">
          <div>
            <label class="form-label" for="name">Name</label>
            <input
              class="form-control"
              formControlName="name"
              [class.is-invalid]="!(registerForm.get('name') | validateFormInput)"
              id="name"
              placeholder="Enter your name"
              type="text">
            <cc-validation-error-message
              [form]="registerForm.get('name')"
              [name]="'Name'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="username">Username</label>
            <input
              class="form-control"
              formControlName="username"
              [class.is-invalid]="!(registerForm.get('username') | validateFormInput)"
              id="username"
              placeholder="Enter your username"
              type="text">
            <cc-validation-error-message
              [form]="registerForm.get('username')"
              [name]="'Username'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="email">Email address</label>
            <input
              class="form-control"
              formControlName="email"
              [class.is-invalid]="!(registerForm.get('email') | validateFormInput)"
              id="email"
              placeholder="Enter your email address"
              type="email">
            <cc-validation-error-message
              [form]="registerForm.get('email')"
              [name]="'Email'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="password">Password</label>
            <input
              class="form-control"
              formControlName="password"
              [class.is-invalid]="!(registerForm.get('password') | validateFormInput)"
              id="password"
              placeholder="Enter your password"
              type="password">
            <cc-validation-error-message
              [form]="registerForm.get('password')"
              [name]="'Password'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="passwordConfirm">Password (Confirmation)</label>
            <input
              class="form-control"
              formControlName="passwordConfirm"
              [class.is-invalid]="!(registerForm.get('passwordConfirm') | validateFormInput)"
              id="passwordConfirm"
              placeholder="Confirm your password"
              type="password">
            <cc-validation-error-message
              [form]="registerForm.get('passwordConfirm')"
              [name]="'Password'">
            </cc-validation-error-message>
          </div>
          <button
            [disabled]="registerForm.invalid"
            class="btn-primary btn d-block"
            type="submit"
          >
            Register
          </button>
        </form>

        <div>
          <hr>
          <p class="m-0 text-center text-muted">
            <small>
              Already have an account?
              <a class="text-white" routerLink="/login">Login!</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
