@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../assets/scss/variables.scss";

.sidebar {
  background: $color-darkest;
  width: 240px;
}

.sidebar-collapse-button {
  color: $text-color-light;
  border-top: 1px solid #333;
  border-left: 4px solid transparent;

  &:hover {
    color: $white;
    background: rgba(0,0,0,0.2);
  }
}
