<div class="container">
  <div class="mt-3 mx-auto">

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <strong>Change Password</strong>
      </div>
      <div class="card-body">
        <form id="passwordChangeForm" (ngSubmit)="change_password()" [formGroup]="passwordChangeForm"
              class="d-flex flex-column gap-3">
          <div>
            <label class="form-label" for="password">Current Password</label>
            <input
              class="form-control"
              formControlName="password"
              [class.is-invalid]="!(passwordChangeForm.get('password') | validateFormInput)"
              id="password"
              placeholder="Enter your current password"
              type="password">
            <cc-validation-error-message
              [form]="passwordChangeForm.get('password')"
              [name]="'Password'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="new_password">New Password</label>
            <input
              class="form-control"
              formControlName="new_password"
              [class.is-invalid]="!(passwordChangeForm.get('new_password') | validateFormInput)"
              id="new_password"
              placeholder="Enter your new password"
              type="password">
            <cc-validation-error-message
              [form]="passwordChangeForm.get('new_password')"
              [name]="'New Password'">
            </cc-validation-error-message>
          </div>
        </form>
      </div>
      <div class="card-footer text-end">
        <button
          [disabled]="passwordChangeForm.invalid"
          class="btn-primary btn"
          type="submit"
          form="passwordChangeForm"
        >
          Save
        </button>
      </div>
    </div>

  </div>
</div>
