<div class="d-flex align-items-center" [style.height]="height">
  <img class="d-inline-block mw-100" src="assets/img/logo.svg" alt="Cinco Cloud logo" [style.height]="height">
  <p class="d-inline-block m-0 ms-2" *ngIf="showName">Cinco Cloud</p>
</div>
