<div class="mx-auto d-flex flex-column gap-3 mt-3" style="max-width: 340px">
  <cc-logo class="d-block my-3" />
  <a class="d-block btn btn-primary py-2" routerLink="/login">Login</a>
  <a
    *ngIf="settings && settings.allowPublicUserRegistration"
    class="d-block btn btn-secondary py-2"
    routerLink="/register"
  >
    Register
  </a>
</div>
