<div class="modal-header">
  <h5 class="modal-title">Add user</h5>
  <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body light">

  <div *ngIf="errorMessage != ''" class="alert alert-danger mb-3">
    Failed to add user to the organization.
  </div>

  <div class="mb-3">
    <label>User</label>
    <cc-search-user-input (user)="user = $event" />
  </div>

  <form (submit)="$event.preventDefault()" [formGroup]="form">
    <label>Role</label>
    <select class="form-control" formControlName="role">
      <option selected value="member">Member</option>
      <option value="owner">Owner</option>
    </select>
  </form>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-secondary" type="button">Cancel</button>
  <button (click)="addUser()" [disabled]="user == null" class="btn btn-primary" type="button">Add</button>
</div>
