<div class="modal-header">
  <h5 class="modal-title">Add admin role</h5>
  <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body light">
  <cc-search-user-input (user)="setSelectedUser($event)" />
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-secondary" type="button">Cancel</button>
  <button (click)="addAdminRole()" [disabled]="!canAddAdminRole" class="btn btn-primary" type="button">Make Admin</button>
</div>
