.loader-container {
  background: rgba(0,0,0,0.2);
  color: rgba(255,255,255,.4);
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255,255,255,.4);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
