@import "../../../../assets/scss/variables.scss";
@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";

.sidebar-header {
  border-bottom: 1px solid #333;
}

.sidebar-header-image {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-color: $color-darkest;
}

.sidebar-header-sub-text {
  margin-top: -5px;
  display: block;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
