@import "../../../../../node_modules/bootstrap/scss/bootstrap";

.image-badge {
  display: flex;
  flex-shrink: 0;
}

.image-badge-name,
.image-badge-version {
  font-size: .75rem;
  color: $white;
  padding: .125rem .5rem;
  font-weight: 500;
}

.image-badge-name {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  background: $primary;
}

.image-badge-version {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  background: #343a40;
}
