<div class="footer">
  <div class="container d-flex flex-column gap-3 py-3">
    <div class="d-flex flex-column flex-sm-row gap-2 justify-content-center">
      <a class="py-2 py-sm-0" title="Homepage" href="https://scce.gitlab.io/cinco-cloud/" target="_blank">
        <fa-icon [fixedWidth]="true" [icon]="faHome" /> Homepage
      </a>
      <span class="d-none d-sm-inline">●</span>
      <a class="py-2 py-sm-0" title="Wiki" href="https://scce.gitlab.io/cinco-cloud/content/user-guide/building-cinco-products/" target="_blank">
        <fa-icon [fixedWidth]="true" [icon]="faBook" /> Wiki
      </a>
      <span class="d-none d-sm-inline">●</span>
      <a class="py-2 py-sm-0" title="GitLab" href="https://gitlab.com/scce/cinco-cloud" target="_blank">
        <fa-icon [fixedWidth]="true" [icon]="faGitlabSquare" /> GitLab
      </a>
      <span class="d-none d-sm-inline">●</span>
      <a class="py-2 py-sm-0" title="issues" href="https://gitlab.com/scce/cinco-cloud/-/issues/" target="_blank">
        <fa-icon [fixedWidth]="true" [icon]="faBug" /> Issues
      </a>
    </div>
    <div class="d-flex justify-content-center">
        Cinco Cloud | Licensed under&nbsp;<a title="License" href="https://gitlab.com/scce/cinco-cloud/-/blob/main/LICENSE.txt">EPL 2</a>
    </div>
  </div>
</div>
