<a
  class="sidebar-item d-block px-3 py-3"
  [routerLink]="route"
  [routerLinkActiveOptions]="{ exact: routerLinkActiveExact }"
  [state]="state"
  routerLinkActive="active"
>
  <fa-icon [icon]="icon" [fixedWidth]="true" class="d-inline-block me-3"></fa-icon>
  <span class="sidebar-item-text">{{text}}</span>
</a>
