<div class="modal-header">
  <h5 class="modal-title">Create a new project</h5>
  <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body light">

  <div class="alert alert-danger mb-3" *ngIf="errorMessage != null">
    {{ errorMessage }}
  </div>

  <div class="d-flex gap-3">
    <div (click)="withProjectImage = false" [class.active]="!withProjectImage"
         class="option rounded-3 p-3 cursor-pointer shadow-sm w-50 d-flex gap-3">
      <fa-icon [icon]="faFile" [size]="'2x'" [fixedWidth]="true" style="color: rgba(0,0,0,0.1)"/>
      <div class="flex-grow-1">
        <h6>Empty Project</h6>
        <p class="text-muted m-0">
          Create graphical DSLs for modeling environments.
        </p>
      </div>
    </div>
    <div (click)="withProjectImage = true" [class.active]="withProjectImage"
         class="option rounded-3 p-3 cursor-pointer shadow-sm w-50 d-flex gap-3">
      <fa-icon [icon]="faProjectDiagram" [size]="'2x'" [fixedWidth]="true" style="color: rgba(0,0,0,0.1)"/>
      <div class="flex-grow-1">
        <h6>From Image</h6>
        <p class="text-muted m-0">
          Select an existing DSL for your modeling environment.
        </p>
      </div>
    </div>
  </div>
  <hr>

  <cc-featured-projects *ngIf="withProjectImage" (selected)="selectFeaturedImage($event)" />

  <form (ngSubmit)="createProject()" [formGroup]="form" class="d-flex flex-column gap-3 mb-3">
    <div>
      <label class="form-label" for="name">Name</label>
      <input
        class="form-control"
        formControlName="name"
        [class.is-invalid]="!(form.get('name') | validateFormInput)"
        id="name"
        placeholder="Enter a name"
        type="text">
      <cc-validation-error-message
        [form]="form.get('name')"
        [name]="'Name'"/>
    </div>
    <div>
      <label class="form-label" for="description">Description</label>
      <textarea
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Enter a description"
        rows="3">
      </textarea>
    </div>
  </form>
  <div *ngIf="withProjectImage" class="mt-3">
    <label class="form-label">Image</label>

    <div *ngIf="selectedProjectImage != null" class="list-group">
      <div class="list-group-item p-2 d-flex align-items-center">
        <div class="w-100">
          <cc-workspace-image-badge [image]="selectedProjectImage" />
        </div>
        <div>
          <fa-icon
            [icon]="faTimes"
            (click)="selectedProjectImage = null"
            [fixedWidth]="true" class="cursor-pointer"/>
        </div>
      </div>
    </div>

    <cc-workspace-image-search-input
      (selectImage)="selectedProjectImage = $event"
      *ngIf="selectedProjectImage == null"/>
  </div>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-secondary" type="button">Cancel</button>
  <button (click)="createProject()" [disabled]="!canCreateProject" class="btn btn-primary" type="button">Create</button>
</div>
