<div class="h-100 d-flex">
  <div class="sidebar">
    <cc-sidebar>
      <ng-container items>
        <cc-sidebar-item
          [icon]="faUsers"
          [route]="['/app', 'admin', 'users']"
          [routerLinkActiveExact]="false"
          text="Users" />
        <cc-sidebar-item
          [icon]="faCogs"
          [route]="['/app', 'admin', 'settings']"
          text="Settings" />
        <cc-sidebar-item
          [icon]="faTableColumns"
          [route]="['/app', 'admin', 'projects']"
          text="Projects" />
      </ng-container>
    </cc-sidebar>
  </div>
  <div class="page flex-grow-1 overflow-auto">
    <router-outlet />
  </div>
</div>
