<div class="container">
  <div class="mx-auto d-flex flex-column gap-3 mt-3" style="max-width: 340px;">
    <cc-logo class="d-block my-3" />
    <div class="card shadow-sm">
      <div class="card-body">
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="d-flex flex-column gap-3 mb-3">
          <div>
            <label class="form-label" for="emailOrUsername">Email address or username</label>
            <input
              class="form-control"
              formControlName="emailOrUsername"
              [class.is-invalid]="!(loginForm.get('emailOrUsername') | validateFormInput)"
              id="emailOrUsername"
              placeholder="Enter your email address or username"
              type="text">
            <cc-validation-error-message
              [form]="loginForm.get('emailOrUsername')"
              [name]="'Email or username'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="password">Password</label>
            <input
              class="form-control"
              formControlName="password"
              [class.is-invalid]="!(loginForm.get('password') | validateFormInput)"
              id="password"
              placeholder="Enter your password"
              type="password">
            <cc-validation-error-message
              [form]="loginForm.get('password')"
              [name]="'Password'">
            </cc-validation-error-message>
          </div>
          <button
            [disabled]="loginForm.invalid"
            class="btn-primary btn d-block"
            type="submit"
          >
            Login
          </button>
        </form>

        <div *ngIf="canRegister">
          <hr>
          <p class="m-0 text-center text-muted">
            <small>
              Do not have an account yet?
              <a class="text-white" routerLink="/register">Create one!</a>
            </small>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

