<form (ngSubmit)="update()" [formGroup]="form">
  <div class="card">
    <div class="card-header">
      <strong>Update the project</strong>
    </div>
    <div class="card-body">
      <div>
        <label class="mb-1">Logo</label>
        <div class="d-flex flex-row gap-3">
          <div *ngIf="logoReference != null && project.logo != null">
            <div class="logo rounded-2 d-flex" [ngStyle]="logoStyle"></div>
          </div>
          <div class="d-flex flex-column gap-2 align-items-start">
            <cc-file-input #input (selectFile)="handleFileSelect($event)"></cc-file-input>
            <button class="btn btn-danger" *ngIf="logoReference != null" (click)="removeLogo($event)">Remove Logo</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="mb-3">
        <label>Name</label>
        <input class="form-control" formControlName="name" placeholder="Enter a name for the project" type="text">
        <cc-validation-error-message
          [form]="form.get('name')"
          [name]="'Name'" />
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description" placeholder="Enter a description for the project"
                  rows="3"></textarea>
      </div>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-sm btn-primary" [disabled]="form.invalid">Save</button>
    </div>
  </div>
</form>
