<div class="card shadow-sm rounded-3">
  <div class="card-header">
    <strong>Overview</strong>
  </div>
  <div class="card-body">
    <table class="table mb-0">
      <tbody>
      <tr>
        <td class="fw-bolder" style="width: 1px;">Name</td>
        <td>{{project.name}}</td>
      </tr>
      <tr *ngIf="project.owner != null">
        <td class="fw-bolder">Owner</td>
        <td>{{project.owner.name}}</td>
      </tr>
      <tr *ngIf="project.organization != null">
        <td class="fw-bolder">Organization</td>
        <td>{{project.organization.name}}</td>
      </tr>
      <tr *ngIf="project.template == null">
        <td class="fw-bolder">Languages</td>
        <td>
          <span class="badge rounded-pill bg-dark me-1" *ngFor="let l of project.graphModelTypes">{{l.typeName}}</span>
        </td>
      </tr>
      <tr *ngIf="project.template != null">
        <td class="fw-bolder">Image</td>
        <td><cc-workspace-image-badge [image]="project.template" /></td>
      </tr>
      <tr>
        <td class="fw-bolder">Members</td>
        <td>{{project.allUsers.length}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
