.flowgraph-activity-toggled > .sprotty-node {
    fill: #ff9900;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.cssnodestyle {
    fill: rgba(255, 100, 250, 0.7);
}

/* Change the color of the graph
.sprotty-graph {
    background: #1e1e1e;
}
*/