<div class="container">
  <div class="mt-3 mx-auto">
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <strong>Avatar</strong>
      </div>
      <div class="card-body">
        <div class="d-flex gap-3">
          <div class="logo rounded-2 d-flex" [ngStyle]="profilePictureStyle"></div>
          <div class="d-flex flex-grow-1 flex-column gap-2 align-items-start">
            <cc-file-input #input (selectFile)="handleFileSelect($event)"></cc-file-input>
            <button class="btn btn-danger" (click)="removeAvatar()" [disabled]="currentUser.profilePicture == null">
              <fa-icon [icon]="faTrash" class="d-inline-block me-3 ms-2" /> Remove Avatar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <strong>Personal Information</strong>
      </div>
      <div class="card-body">
        <form id="changeInformationForm" (ngSubmit)="changeInformation()" [formGroup]="informationChangeForm"
              class="d-flex flex-column gap-3">
          <div>
            <label class="form-label" for="name">Name</label>
            <input
              class="form-control"
              formControlName="name"
              [class.is-invalid]="!(informationChangeForm.get('name') | validateFormInput)"
              id="name"
              placeholder="Enter your name"
              type="text">
            <cc-validation-error-message
              [form]="informationChangeForm.get('name')"
              [name]="'Name'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="email">Email</label>
            <input
              class="form-control"
              formControlName="email"
              [class.is-invalid]="!(informationChangeForm.get('email') | validateFormInput)"
              id="email"
              placeholder="Enter your email"
              type="email">
            <cc-validation-error-message
              [form]="informationChangeForm.get('email')"
              [name]="'Email'">
            </cc-validation-error-message>
          </div>
        </form>
      </div>
      <div class="card-footer text-end">
        <button
          class="btn-primary btn"
          type="submit"
          form="changeInformationForm"
          [disabled]="informationChangeForm.invalid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
