@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.navbar {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.toggle-button, .menu-collapsed {
  display: flex;
}

.menu-not-collapsed {
  display: none;
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .toggle-button, .menu-collapsed {
    display: none;
  }

  .menu-not-collapsed {
    display: block;
  }
}
