<div class="container mt-3">
  <div class="d-flex flex-column flex-md-row align-items-md-center">
    <ul #nav="ngbNav" class="nav nav-pills d-flex gap-2" ngbNav>
      <li class="nav-item" ngbNavItem="projects">
        <a class="nav-link" ngbNavLink>
          Projects
        </a>
        <ng-template ngbNavContent>
          <div *ngIf="projects.length === 0; else projectList" class="alert alert-info mt-3">
            There aren't any projects yet.
          </div>
          <ng-template #projectList>
            <cc-project-list [projects]="projects"></cc-project-list>

            <cc-pagination
              class="d-block mt-3"
              [page]="projectPage"
              (previousPage)="previousProjectPage()"
              (nextPage)="nextProjectPage()">
            </cc-pagination>
          </ng-template>
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem="organizations">
        <a class="nav-link" ngbNavLink>
          Organizations
        </a>
        <ng-template ngbNavContent>
          <div *ngIf="organizations.length === 0; else organizationList" class="alert alert-info mt-3">
            There aren't any organizations yet.
          </div>
          <ng-template #organizationList>
            <cc-organization-list [organizations]="organizations"></cc-organization-list>

            <cc-pagination
              class="d-block mt-3"
              [page]="organizationPage"
              (previousPage)="previousOrganizationPage()"
              (nextPage)="nextOrganizationPage()">
            </cc-pagination>
          </ng-template>
        </ng-template>
      </li>
    </ul>
    <div class="mt-3 mt-md-0 ms-md-auto">
      <button
        (click)="openCreateProjectModal()"
        *ngIf="nav.activeId === 'projects'"
        class="btn btn-primary"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>&nbsp; New Project
      </button>
      <button
        (click)="openCreateOrganizationModal()"
        *ngIf="nav.activeId === 'organizations'"
        class="btn btn-primary"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>&nbsp; New Organization
      </button>
    </div>
  </div>

  <div [ngbNavOutlet]="nav" class="mt-3"></div>
</div>
