/* -----------------------------------------
 * cinco cloud custom variables
 */

/* define the main colors for the dark theme */
$color-dark: #525252;
$color-darker: #333;
$color-darkest: #252526;

$text-color-light: #eeeeee;
$text-color-dark: $color-darkest;

$transparent: rgba(0, 0, 0, 0);

/* -----------------------------------------
 * bootstrap overwrites
 */

$dark: $color-darkest;
$blue: #1177bb;
$cyan: #29a2b4;
$green: #118d55;
$yellow: #d9a819;

/* -----------------------------------------
 * enable bootstrap grid system
 */

$enable-cssgrid: true;
